@import '~@angular/material/theming';
@import "_variables.scss";

.note-list {
  // background-color: red;
  margin-right: 2rem;
  border-width: 0 1px;
  border-style: solid;
}

.note-list-item:hover {
  background-color: $primary;
}

.note-list-item {
  padding: 1rem;
}

.title {
  display: block;
}

.selected-note {
  background-color: $accent;
}
